        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .fondo {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 100vh;
            background-image: url('Imagen\ de\ Fondo-inicio.jpg');
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .contenedor-titulo {
            font-family: 'Lucida Sans', sans-serif;
            background-color: rgba(245, 199, 129, 0.8);
            border-radius: 50px;
            padding: 20px;
            text-align: center;
            max-width: 100%;
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;
            transform: scale(1.2);
            transition: opacity 1s ease-in-out, transform 1s ease-in-out;
        }

        .titulo {
            font-size: 50px;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }

        .subtitulo {
            font-size: 15px;
            margin-top: 20px;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }

        .logo {
            width: 230px;
            margin-top: 20px;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }

        .btn-ingresar {
            padding: 10px 20px;
            margin-top: 20px;
            border-radius: 20px;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }